/* Required for full background image */
html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse ,.page-footer{
  background-color: #d869a0 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
.img-fluid{
  float: left;
  
}


#intro {
    background: url("bg1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover; /* 针对Chrome, Safari, Edge等浏览器 */
    -moz-background-size: cover;    /* 针对Firefox浏览器 */
    -o-background-size: cover;      /* 针对Operallq */
    background-size: cover;         /* 通用 */
}





.streak.streak-photo {
  background-attachment: fixed;
}
